@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallery {
  display: flex;
  justify-content: center;
  align-self: center;
}
.gallery .container {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 300px 300px 300px 300px;
  margin: 40px;
  grid-auto-flow: dense;
  grid-gap: 10px;
}
.gallery .container .box {
  display: flex;
  font-size: 20px;
  place-items: center;
  text-align: center;
  color: #fff;
  transition: 0.5s;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}

.gallery .container .content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .container .box img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .container .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}
.gallery .container .box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}
.gallery .container .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}
.gallery .container .box:nth-child(5) {
  grid-column: span 2;
  grid-row: span 1;
}
.gallery .container .box:nth-child(8) {
  grid-column: span 1;
  grid-row: span 2;
}
/* @media (max-width: 991px)
{
    .container
    {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }
    .container .box
    {
        grid-column: unset !important;
        grid-row: unset !important;
    }
} */
.testimonials
{
  width: 100%;
  height: 100vh;
  display: inline-flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  margin: auto;
}
.test-in
{
  margin: 0 20px;
  height: auto;
  background: #fff;
  padding: 40px 20px 80px 20px;
  position: relative;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 25px -15px #999;
  transition: -5s;
}
.test-in i
{
  font-size: 60px;
  position: absolute;
  color: #ccc;
  transform: rotateY(0deg);
  transition: .5s;
}
.test-in i:nth-child(1)
{
  left: 20px;
  top: -30px;
}
.test-in i:nth-child(2)
{
  right: 20px;
  bottom: -30px;
}
.test-in p
{
  font-size: 15px;
  line-height: normal;
}
.test-image
{
  width: 120px;
  height: 120px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  margin: auto;
  border-radius: 100px;
  box-shadow: 0px 0px 20px --5px #999;
}
.test-image img
{
  width: 100%;
  height: 100%;
  padding: 10px;
  object-fit: cover;
  border-radius: 100px;
}
.test-btm
{
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -110px;
}
.test-btm h1
{
  font-size: 20px;
  color: #152644;
  font-weight: 600;
}
.test-btm h1 span
{
  font-size: 14px;
  color: #666;
  font-weight: 400;
}
/* Hover-Section */

.test-in:hover
{
  transform: translateY(-10%);
  transition: .5s;
}
.test-in:hover i:nth-child(1)
{
  color: #05afec;
  transform: rotateY(360deg);
  transition: .5s;
}
.test-in:hover i:nth-child(2)
{
  color: #94ca36;
  transform: rotateY(360deg);
  transition: .5s;
}