* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.about {
  display: flex;
  margin-top: 20px;
}
.wrapper .sidebar {
  position: relative;
  width: 200px;
  height: 100%;
  background: #ffffff;
}
.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 15px;
  padding: 10px 0;
  background: #06373d;
  border-radius: 10px;
  font-family: "Iceland", cursive !important;
  font-weight: 400;
  font-size: 35px;
  cursor: pointer;
}
.wrapper .sidebar h2 i {
  font-size: 23px;
}
.wrapper .sidebar ul li {
  padding: 15px 25px;
  list-style: none;
  padding: 5px 0px;
  text-align: center;
}
.wrapper .sidebar ul li a {
  color: #06373d;
  display: block;
  text-decoration: none;
  font-family: "Iceland", cursive !important;
  font-size: 25px;
  padding: 10px 0px;
  margin-left: 10px;
}
.wrapper .sidebar ul li a.active,
.wrapper .sidebar ul li a:hover {
  color: #fff;
  background: rgb(33 79 85);
  border-radius: 20px;
  border-bottom: none;
}

section .row {
  position: relative;
  width: 100%;
  display: flex;
}
.row .col50 .imgBx {
  position: relative;
  width: 100%;
  min-height: 300px;
}
.row .col50 .imgBx img {
  position: relative;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.row .col50 {
  position: relative;
  width: 63%;
  margin: 0px 22px;
}
.row .col51 {
  position: relative;
  width: 30%;
}
.col51 button {
  width: 100%;
  background: linear-gradient(90deg, #dfb27d 1.26%, #1e2b36 100%);
  border-radius: 4px;
  margin-top: 10px;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
}
.col51 button h2 {
  text-transform: uppercase;
  margin: 10px 0;
}
.col51 button i {
  font-size: 20px;
}
.details{
  margin-top: 40px;
}
.deatailHead{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgSizePop{
  margin: 10px;
  background: #000;
  color: #fff;
  padding: 7px;
  border-radius: 10px;
}
.imgSizePop .sizeHead{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}
.imgSizePop .dnldView{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.imgSizePop .dnldView .Download{
 border: 1px solid #fff;
 padding: 8px 30px;
 border-radius: 30px;
}
.imgSizePop .dnldView .view{
 border: 1px solid rgb(249, 253, 0);
 padding: 8px 30px;
 border-radius: 30px;
}
.category {
  text-align: left;
  font-size: 20px;
  font-family: sans-serif;
  width: 100%;
}
.category .allcolum {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 135px;
  overflow: hidden;
  margin-bottom: 30px;
}
.category .column {
  width: 100%;
  padding: 5px;
}
.category .row::after {
  content: "";
  display: table;
  clear: both;
}
.category h1 {
  position: relative;
  margin: 22px 0;
}
.category h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 400px;
  height: 2px;
  background: #000000;
}
.category img {
  width: 100%;
}
